/* Listas */
* {
    font-family: 'Brygada 1918', serif;
    margin: 0;
    padding: 0;
}


/* Header */
header {
    background-color: rgb(178, 179, 167);
    padding: 30px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    /*position: fixed;*/

    opacity: 0.9;

}

/* Logo Footer y Header */
.logo {
    height: 4rem;
    width: 4.5rem;
    background-color: rgb(178, 179, 167);
} 

/* Imagen y texto inicio */

.contenedor-inicio {
    height: 800px;
    width: 100%;
    overflow: hidden;

}

.img-1 {
    height: 800px;
    width: 100%;
}

.contenedor-inicio-titulo {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Castoro Titling';
    color: black;
}

.container-info {
    margin-top: 100px;
    margin-left: 95px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;

}

.container-info-texto {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: justify;
    font-family: 'Brygada 1918', serif;
}

.container-info-img {
    height: 300px;
    width: 500px;
    grid-column-start: 2;
    grid-column-end: 2;
}

/* Fin Imagen y texto inicio */


/* Listas */
ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}

a {

    text-decoration-line: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: black;

}

/* Fin Listas */

/* Footer */
footer {
    background-color: rgb(178, 179, 167);

    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.contacto {
    padding-top: 6px;
    padding-left: 1px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.redes {
    margin: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;

}

footer .logo {
    height: 4rem;
    width: 4.5rem;
    background-color: rgb(178, 179, 167);
    margin: 50px;
    padding-left: 100px;
    display: flex;
    justify-content: center;
}




/* Fin Footer */



/* Pagina Servicios */
/*.section-desayuno,
.section-piscina,
.section-spa,
.section-gimnasio {
    margin: 30px 5px;
    border: 2px solid rgb(178, 179, 167);
    padding: 80px;
}
*/
/*.section-desayuno-img {
    width: 400px;
    height: 300px;
}


.section-piscina-img {
    width: 450px;
    height: 300px;
}

.section-spa-img {
    width: 400px;
    height: 300px;
}

.section-gimnasio-img {
    width: 400px;
    height: 300px;
}
*/

.container-servicios {
    margin-left: 225px;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}



/* Fin Pagina Servicios */




/* Pagina Habitaciones */
.container-hab-1,
.container-hab-2,
.container-hab-3,
.container-hab-4,
.container-hab-5 {
    margin: 30px 5px;
    border: 2px solid rgb(178, 179, 167);
    padding: 80px;
}

.container-hab-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px;
    grid-row-gap: px;
}

.container-hab-1-img {
    width: 400px;
    height: 300px;
    grid-column-start: 2;
    grid-column-end: 2;
}
.container-hab-1-info {
    grid-column-start: 1;
    grid-column-end: 1;
}

.container-hab-2-img {
    width: 450px;
    height: 300px;
}

.container-hab-3-img {
    width: 400px;
    height: 300px;
}

.container-hab-4-img {
    width: 425px;
    height: 300px;
}

.container-hab-5-img {
    width: 425px;
    height: 300px;
}

/* Fin Pagina Habitaciones */





/* Pagina Ubicacion */
.map-container {
    display: flex;
    justify-content: center;
}