@import "../base/variable";

footer {
    background-color: $bg-general;
    padding: 30px;
    display: flex;
    justify-content: space-between;

    .contacto {
        background-color: $bg-general;
        padding-top: 6px;
        padding-left: 1px;
        margin: 30px;
        display: flex;
        flex-direction: column;

    }

    .logo {
        height: 5rem;
        width: 5.7rem;
        background-color: $bg-general;
        margin: 50px;
        display: flex;
        justify-content: center;

    }

    .redes {
        background-color: $bg-general;
        margin: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        padding-left: 50px;
    }
}