@import "../base/variable";
@import "../base/mixins";

footer {
    background-color: $bg-general;
    padding: 30px;
    display: flex;
    justify-content: space-between;
   

    @include mobile {
        background-color: $bg-general;
        padding: 0px;
        display: flex;
        justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .contacto {
        background-color: $bg-general;
        padding-top: 6px;
        padding-left: 1px;
        margin: 30px;
        display: flex;
        flex-direction: column;

        @include mobile {
            overflow-wrap: break-word;
            background-color: $bg-general;
            padding: 0px;
            margin: 0px;
            padding-top: 0px;
            padding-left: 0px;
            margin-bottom: 0px;
            display: flex;
            flex-direction: column;
        }

    }

    .logo {
        height: 5rem;
        width: 5.7rem;
        background-color: $bg-general;
        margin: 50px;
        display: flex;
        justify-content: center;

        @include mobile {
            padding: 0px;
            margin: 0px;
            margin-bottom: 0px;
            margin-left: 120px;
            height: 5rem;
            width: 5.7rem;
            background-color: $bg-general;
            display: flex;
            justify-content: center;
            display: grid;
            grid-area: 2 / 1 / 3 / 2;
        }

    }

    .redes {
        background-color: $bg-general;
        margin: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        padding-left: 50px;

        @include mobile {
            background-color: $bg-general;
            padding: 0px;
            margin: 0px;
            padding-right: 0px;
            display: flex;
            flex-direction: column;
            padding-left: 0px;
        }
    }
}


