@import "../base/mixins";
.contenedor-inicio {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

.container-info {
    margin-top: 100px;
    margin-left: 95px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;

    @include mobile {
        margin: 20px 0px 0px 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

.container-info-texto {
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: justify;
    font-family: 'Brygada 1918', serif;

    @include mobile {
        margin-right: 0px;
        width: 300px;
        height: 450px;
        display: flex;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        display: flex;
        justify-content: start;
    }

}

.container-info-img {
    height: 300px;
    width: 500px;
    grid-column-start: 2;
    grid-column-end: 2;

    @include mobile {
        width: 300px;
        height: 200px;
        margin-top: 0px;
        vertical-align: text-bottom;
        line-height: 30px;
        margin-right: 0px;
        margin-bottom: 0px;
        text-align: justify;
        margin-left: 10px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}


.img-1 {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

.contenedor-inicio-titulo {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Castoro Titling';
    color: black;

    @include mobile {
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Castoro Titling';
        color: black;
    }

}

.contenedor-inicio-subtitulo {
    position: absolute;
    top: 88%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Castoro Titling';
    color: black;
    font-weight: bold;

    @include mobile {
        position: absolute;
        top: 105%;
        left: 55.5%;
        transform: translate(-50%, -50%);
        font-family: 'Castoro Titling';
        color: black;
        font-weight: bold;
    }
}


