@import "../base/mixins";

.container-ubicacion {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 0px;


    @include mobile {
        margin: 50px 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    @include tablet {
        margin: 50px 0px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
}

.container-ubicacion-mapa {
    width: 600px;
    height: 500px;
    margin-right: 30px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;

    @include mobile {
        margin-left: 20px;
        width: 300px;
        height: 400px;
        display: flex;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        display: flex;
        justify-content: start;
    }

    @include tablet {
        margin-left: 150px;
        width: 500px;
        height: 400px;
        display: flex;
        justify-content: center;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        display: flex;
        justify-content: start;
    }
}

.container-ubicacion-info {
    line-height: 30px;
    margin-left: 100px;
    margin-right: 30px;
    margin-bottom: 100px;
    text-align: justify;
    margin-left: 30px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;


    @include mobile {
        vertical-align: text-bottom;
        line-height: 30px;
        margin-left: 100px;
        margin-right: 30px;
        margin-bottom: 100px;
        text-align: justify;
        margin-left: 30px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }

    @include tablet {
        vertical-align: text-bottom;
        line-height: 30px;
        margin-left: 100px;
        margin-right: 30px;
        margin-bottom: 50px;
        margin-top: 50px;
        text-align: justify;
        margin-left: 30px;
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}